//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// colors
// -------------------------
@bright:        #fff;
@standard:      #99c9c5;
@dark:          #092739;

// Accent colors
// -------------------------
@accent:        #CFFFF0;
@lightAccent:   #E0FCED;

// Scaffolding
// -------------------------
@bodyBackground:        @dark;
@textColor:             @standard;

// Links
// -------------------------
@linkColor:             @bright;
@linkColorHover:        @accent;


// Typography
// -------------------------
@sansFontFamily:        'Open Sans', Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          1em;
@baseFontWeight:        400;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// Styles
// --------------------------------------------------

body, select, input, textarea {
    color: @textColor;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    font-weight: @baseFontWeight;
}

html {
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

html, body {
    height: 100%;
}

body {
    background-color: @dark;
}

p {
    font-size: 0.9em;
    line-height: 24px;
    text-align: justify;
}
li {
    color: lighten(@textColor, 10%);
    list-style-image: url('http://dtli0f3gwjwjm.cloudfront.net/images/list_bullet.png');
    font-size: 0.9em;
    line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: @bright;
    margin: 0;
}

h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.1em;
}
a {
    color: @linkColor;
    text-decoration: none;

    &:visited {
        color: @linkColor;
    }
    &:hover {
        color: @linkColorHover;
        text-decoration: none;
    }
}

p, li, h3 {
    a {
        background-color: hsla(hue(@lightAccent), saturation(@lightAccent), lightness(@lightAccent), .15);
        border-radius: 3px;
        color: white;
        display: inline-block;
        font-size: .9em;
        line-height: 19px;
        padding: 0px 3px;

        &:hover {
            background-color: @accent;
            color: @dark;
            text-decoration: none;
        }
    }
}


/* 730px to 1024px
-------------------------------------------------------*/
@media screen and (min-width: 730px) and (max-width: 1030px) {

    body {

        #backstretch {
            img {
                min-height: 800px;
            }
        }

        #container {
            width: 90%;
        }
        #header {
        }
        #content {
            width: 60%;
        }
        #navigation {
            width: 90%;
        }
        #main-navigation {
            left: 71%;
        }
    }
}

/* 600px to 729px
-------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 729px) {

    body {
        font-size: 0.9em;

        p {
            text-align: left;
        }

        #backstretch {
            img {
                min-height: 300px;
            }
        }

        #container {
            min-width: 289px;
            width: 90%;
        }
        #header {
            margin-left: 0px;

            h1 {
                background-size: 100%;
                width: 302px;
                height: 93px;
            }
        }
        #content {
            width: 100%;
            margin-left: 0px;
            margin-top: 55px;

            .post {
                .header {
                    margin-bottom: 20px;

                    .titlebar {
                        h2.date {
                            display: none;
                        }
                    }
                }

                .content {
                    padding: 10px;
                    border-radius: 4px;
                    background-color: rgba(0, 0, 0, 0.25);
                }
            }
        }

        #navigation {
            position: absolute;
            width: 90%;
            min-width: 288px;
            top: 100px;
        }
        #main-navigation {
            left: 0px;

            li {
                position: relative;
                float: left;
            }
            #log {
                top: 0px;
                left: 0px;

                a {
                    background-size: 100%;
                    width: 90px;
                    height: 65px;
                }
            }
            #projects {
                top: 0px;
                left: -8px;

                a {
                    background-size: 100%;
                    width: 157px;
                    height: 65px;
                }
            }
            #profile {
                top: -2px;
                left: -19px;

                a {
                    background-size: 100%;
                    width: 137px;
                    height: 65px;
                }
            }
        }


    }
}

/* 0px to 599px
-------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 450px) {

    body {

        #content {
            margin-top: 35px;
        }

        #navigation {
            width: 90%;
        }

        #main-navigation {

            #log {
                top: 0px;
                left: 0px;

                a {
                    width: 63px;
                    height: 45px;
                }
            }
            #projects {
                top: 0px;
                left: -8px;

                a {
                    width: 111px;
                    height: 45px;
                }
            }
            #profile {
                top: -1px;
                left: -19px;

                a {
                    width: 93px;
                    height: 45px;
                }
            }
        }
    }
}


/* ANIMATION */
@-webkit-keyframes opacity {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes opacity {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}
.opacity-loop {
    -webkit-animation: opacity 2s linear infinite;
    -moz-animation: opacity 2s linear infinite;
}

/* COMPONETS */
#backstretch {
    img {
    }
}

.orbit-wrapper {
    max-width: 463px;
}

#loading-status {
    background: url("http://dtli0f3gwjwjm.cloudfront.net/images/loading_icon.png");
    display: none;
    margin-left: -44px;
    position: relative;
    top: 112px;
    left: 33%;
    width: 88px;
    height: 57px;
}

/* CONTAINERS */

/* desktop version */
#container {
    width: 950px;
    padding-bottom: 100px;
    margin: 0 auto;
}

/* HEADER */
#header {
    position: relative;
    top: 25px;
    left: -10px;
    .clearfix;

    h1 {
        background: url("http://dtli0f3gwjwjm.cloudfront.net/images/codecollision_logo.png") no-repeat top left;
        display: block;
        position: relative;
        width: 344px;
        height: 109px;

        span {
            display: none;
        }
    }
}

/* CONTENT */
#content {
    position: relative;
    top: 50px;
    width: 555px;

    /* project page */
    .project {
        max-width: 461px;
        margin-bottom: 37px;

        h2 {
            display: none;
        }

        .project-box {
            height: 67px;
            overflow: hidden;
            border: 1px solid rgba(50, 150, 150, .3);
            border-radius: 7px;
            box-shadow: 4px 4px 20px -5px black;
        }
    }
    .image-box {
        max-width: 461px;
        width: inherit;
        height: inherit;

        img {
            border-radius: 7px;
            margin-bottom: 10px;
        }
    }
    .image-box.orbit {
        border-radius: 7px;
        box-shadow: 4px 4px 20px -5px black;

        img {
            margin-bottom: 0px;
        }
    }

    /* posts */
    .post {
        margin-bottom: 50px;

        .header {
            .clearfix;
            margin-bottom: 30px;

            .titlebar {
                h2 {
                    font-size: 1.6em;
                    display: inline-block;
                }
                h2.date {
                    font-size: 1.4em;
                    color: @textColor;
                    float: right;
                }
            }
            .categories {
                .clearfix;

                h3 {
                    font-size: .9em;
                    float: left;
                    margin-right: 10px;
                }
            }
        }
        .view {
            margin-right: 15px;
        }
        .source {
            margin-right: 15px;
        }
    }
}

/* NAVIGATION */
#navigation {
    position: fixed;
    top: 194px;
    height: 0px;
    width: 950px;
}

/* PAGE NAVIGATION */
#pageNavigation {
    .clearfix;

    ul {
        padding: 0px;
    }
    li {
        list-style: none;
        float: left;
        margin-right: 10px;
    }
}

/* MAIN NAVIGATION */
#main-navigation {
    left: 66%;
    position: relative;
    top: 0px;

    ul {
        padding: 0px;
    }
    li {
        position: absolute;
        list-style: none;
        a {
            position: relative;
            display: block;

            span {
                display: none;
            }
        }
    }

    #log {
        top: 0px;
        left: 12px;

        a {
            background: url(http://dtli0f3gwjwjm.cloudfront.net/images/log_button.png);
            background-repeat: no-repeat;
            background-position: left top;
            width: 130px;
            height: 74px;

            &:active {
                .opacity(80);
            }
        }
    }
    #projects {
        top: 66px;
        left: -7px;

        a {
            background: url(http://dtli0f3gwjwjm.cloudfront.net/images/projects_button.png);
            background-repeat: no-repeat;
            background-position: left top;
            width: 207px;
            height: 81px;

            &:active {
                .opacity(80);
            }

        }
    }
    #profile {
        top: 133px;
        left: -15px;

        a {
            background: url(http://dtli0f3gwjwjm.cloudfront.net/images/profile_button.png);
            background-repeat: no-repeat;
            background-position: left top;
            width: 179px;
            height: 82px;

            &:active {
                .opacity(80);
            }
        }
    }
}
